@import "./normalize.css";

body {
    font-family: "Roboto"; font-size: 1rem;
    background-color: rgb(219, 217, 231);
}

img {
    display: inline-block;
    margin-right: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    height: 100vh;
}

/* #region SIDEBAR */
.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.3rem;
    background-color: skyblue;
    padding: 2rem;
}

.dashboard {
    font-size: 1.5rem;
    font-weight: 700;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* #endregion */

/* #region HEADER */
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #fff;
}

.greeting {
    display: flex;
}

/* #endregion */

/* #region MAIN */
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.projects {
    grid-area: projects;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.project {
    background-color: #fff;
}

.title {
    font-weight: 500;
}

.announcements-list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.trending {

}

/* #endregion */