@import "./normalize.css";

body {
    font-family: "Roboto"; font-size: 1rem;
    background-color: rgb(219, 217, 231);
}

img, span {
    display: inline-block;
    vertical-align: middle;
}

.small-icon {
    height: 1.5rem;
    filter: brightness(0) saturate(100%) invert(92%) sepia(93%) saturate(0%) hue-rotate(202deg) brightness(106%) contrast(106%);
}

.big-icon {
    height: 2.5rem;
    margin: 0 0.25rem 0 -0.5rem;
    filter: brightness(0) saturate(100%) invert(92%) sepia(93%) saturate(0%) hue-rotate(202deg) brightness(106%) contrast(106%);
}

.header-icon {
    height: 1rem;
    margin-right: 1rem;
    filter: brightness(0) saturate(100%) invert(0%) sepia(95%) saturate(0%) hue-rotate(187deg) brightness(102%) contrast(105%);
}

.small-profile-icon {
    height: 2rem;
    margin-right: 1rem;
    filter: brightness(0) saturate(100%) invert(0%) sepia(95%) saturate(0%) hue-rotate(187deg) brightness(102%) contrast(105%);
}

.big-profile-icon {
    height: 4rem;
    margin-right: 1rem;
    filter: brightness(0) saturate(100%) invert(0%) sepia(95%) saturate(0%) hue-rotate(187deg) brightness(102%) contrast(105%);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    height: 100vh;
}

/* #region SIDEBAR */
.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 1.3rem;
    background-color: rgb(0, 117, 196);
    padding: 2rem;
    color: white;
}

.dashboard {
    font-size: 1.5rem;
    font-weight: 700;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: nowrap;
}
/* #endregion */

/* #region HEADER */
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #fff;
}

.greeting {
    display: flex;
}

/* #endregion */

/* #region MAIN */
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.projects {
    grid-area: projects;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.project {
    background-color: #fff;
}

.title {
    font-weight: 500;
}

.announcements-list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.trending {

}

/* #endregion */